<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form th:action="@{/search}" method="get">
        <input type="text" name="productName" placeholder="Nhập sản phẩm cần tìm">
        <button type="submit">Tìm kiếm</button>
    </form>

    <h2>Danh sách sản phẩm</h2>
    <table border="1" width="50%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Tên</th>
                <th>Giá</th>
            </tr>
        </thead>
        <tbody>
            <tr th:if="${message}" style="text-align: center">
                <td colspan="3" th:text="${message}"></td>
            </tr>
            <tr th:each="obj, loop : ${products}" th:unless="${message}" style="text-align: center">
                <td th:text="${obj.id}"></td>
                <td th:text="${obj.name}"></td>
                <td th:text="${obj.price}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>