<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<body>
    <p>Đăng nhập thành công! Xin chào</p><h2 th:text="${user.name}"></h2>
    <h2>Danh sách sản phẩm</h2>

    <a th:href="@{'cart/' + ${user.getId()}}">Xem giỏ hàng</a>

    <table border="1" width="60%">
        <thead>
            <tr>
                <th>Tên sản phẩm</th>
                <th>Giá</th>
                <th>Mô tả</th>
                <th>Chuc năng</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="product, loop : ${products}">
                <td th:text="${product.productName}"></td>
                <td th:text="${product.price}"></td>
                <td th:text="${product.description}"></td>
                <td>
                    <a th:href="@{'productDetail/' + ${product.productId}}">Xem chi tiết</a>
                </td>
            </tr>
        </tbody>
    </table>
</body>
</html>